DATA/
fishing_package_data/
.idea/
test.py
test2.py
geckodriver.log
output.html
output*
*.pyc
tmp
lib/phishData/phishing_urls.txt
lib/phishData/phishing_urls.txt
lib/phishData/
lib/phishData/
lib/urls_verdict_result_v4.csv

