asgi-redis==0.8.3
asgiref==0.9
async==0.6.2
async-timeout==2.0.1
attrs==19.1.0
autobahn==0.12.1
Automat==0.7.0
backports.functools-lru-cache==1.5
BeautifulSoup==3.2.1
beautifulsoup4==4.7.1
brewer2mpl==1.4.1
bs4==0.0.1
certifi==2018.11.29
channels==0.9.3
chardet==3.0.4
constantly==15.1.0
cycler==0.10.0
daphne==0.9.1
dill==0.2.9
dj-database-url==0.4.0
Django==1.9.3
django-cors-headers==2.5.2
fuzzywuzzy==0.17.0
get==2018.11.19
ggplot==0.11.5
haikunator==1.0.1
hyperlink==18.0.0
idna==2.8
image==1.5.27
incremental==17.5.0
kiwisolver==1.0.1
lxml==4.2.5
matplotlib==2.2.4
msgpack-python==0.4.7
mysql==0.0.2
mysql-connector-python==8.0.13
MySQL-python==1.2.5
nltk==3.4
numpy==1.16.2
pandas==0.24.1
pathlib==1.0.1
patsy==0.5.1
Pillow==6.2.0
post==2018.11.20
protobuf==3.6.1
public==2018.11.20
pyfcm==1.4.5
PyHamcrest==1.9.0
PyMySQL==0.9.3
pyparsing==2.3.1
python-dateutil==2.8.0
python-Levenshtein==0.12.0
python-magic==0.4.15
pytz==2018.9
query-string==2018.11.20
redis==2.10.5
request==2018.11.20
requests==2.21.0
requests-file==1.4.3
requests-toolbelt==0.9.1
scikit-learn==0.20.3
scipy==1.2.1
selenium==3.141.0
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
soupsieve==1.6.2
statsmodels==0.9.0
subprocess32==3.5.3
tldextract==2.2.1
tslib==1.6
Twisted==15.5.0
txaio==2.2.1
urllib3==1.24.1
zope.interface==4.1.3
