BeautifulSoup==3.2.1
certifi==2018.11.29
chardet==3.0.4
Django==1.11.17
idna==2.8
image==1.5.27
lxml==4.2.5
mysql-connector-python==8.0.13
Pillow==5.3.0
protobuf==3.6.1
PyMySQL==0.9.3
python-magic==0.4.15
pytz==2018.7
requests==2.21.0
selenium==3.141.0
six==1.12.0
urllib3==1.24.1
